[submodule "src/templates/chat-template"]
	path = src/templates/chat-template
	url = https://github.com/CurrentCoin/chat-template.git
[submodule "src/templates/contact-us-template"]
	path = src/templates/contact-us-template
	url = https://github.com/CurrentCoin/contact-us-template.git
[submodule "src/templates/info-spinner-template"]
	path = src/templates/info-spinner-template
	url = https://github.com/CurrentCoin/info-spinner-template.git
[submodule "src/templates/brand-page-template"]
	path = src/templates/brand-page-template
	url = https://github.com/CurrentCoin/brand-page-template.git
[submodule "src/templates/hangman-template"]
	path = src/templates/hangman-template
	url = https://github.com/CurrentCoin/hangman-template.git
[submodule "src/templates/survey-template-temp"]
	path = src/templates/survey-template-temp
	url = https://github.com/CurrentCoin/survey-template-temp.git
